<!-- This lets you use a header from a different html file -->
<%- include('partials/myheader'); %>


<!-- If this text changes you have to change it in ExampleData.js bc it reads
this line to determine whether or not to run the example data -->
<h1 id="showingExample">EXAMPLE</h1> <br>

<h1><%=startGoalsExample[0].projectName%></h1> <br>

<p class="sameLine">Weekly Goal: </p>
<p class="sameLine" id="userNumberOfHours"> <%=startGoalsExample[0].goalHoursWeek%> </p> <br>
<p class="sameLine">Number of Weeks: </p>
<p class="sameLine" id="userNumberOfWeeks"> <%=startGoalsExample[0].totalWeeks%> </p> <br>
<p class="sameLine">Total Hours: </p>
<p class="sameLine"> <%=startGoalsExample[0].totalWeeks * startGoalsExample[0].goalHoursWeek%> </p> <br>

<table id="mainTable">
  <tr>
    <th>Week</th>
    <th>Date</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
    <th>Week Total</th>
    <th>Weekly Difference</th>
    <th>Cumulative Progress</th>
    <th>Cumulative Goal</th>
  </tr>
  <tr>
    <td>1</td>
    <td id="firstDate" class="date">12/13/21</td>
    <td class="row1 cells"> </td>
    <td class="row1 cells"> </td>
    <td class="row1 cells"> </td>
    <td class="row1 cells"> </td>
    <td class="row1 cells"> </td>
    <td class="row1 cells"> </td>
    <td class="row1 cells"> </td>
    <td class="weekTotal1"> </td>
    <td class="weekDiff1"> </td>
    <td class="cumulativeProgress1"> </td>
    <td class="cumulativeGoal1"> </td>
  </tr>
</table> <br>

<!-- <script src="EditableTable.js"></script>
<script src="ExampleData.js"></script> -->


<!-- End of table -->










<!-- //////////////////////////////////////////////////////////// Start of chart -->

<!-- Since my chart is respsonsive, if i want to change the size of the chart
I can just change the size of my div -->

<div class="col-lg-6 chartBox1">
  <canvas id="myChart1"></canvas>
</div> <br>

<div class="col-lg-6 chartBox2">
  <canvas id="myChart2"></canvas>
</div>


<!-- <script src="Chart.js"></script> -->

<!-- //////////////////////////////////////////////////////////// End of chart -->



<h1>Notes</h1> <br>

<% postsExample.forEach(function(eachPost) { %>
<h1><%=eachPost.date%></h1>
<!-- Instead of posting the entire post on the home page, i am showing only -->
<!-- the first 100 characters and adding a "...", but only adding that if  -->
<!-- the post had more than 100 characters. So i used a new if shortcut i learned  -->
<!-- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Conditional_Operator -->
<p> <%=eachPost.notes.slice(0, 100) + (eachPost.notes.length > 100 ? " ..." : "")%>
</p> <br>
<% }) %>






<!-- Moved all my JS scripts here -->
<script src="Chart.js"></script>
<script src="EditableTable.js"></script>
<script src="ExampleData.js"></script>

<!-- This lets you use a footer from a different html file -->
<%- include('partials/footer'); %>
